#logindiv{
    display:flex;
}
#Lleft{
   
    width:50%;
    display:flex;
    flex-direction: column;
    align-items: center;


}
#Lright{
    height:85vh;
    width:50%;
    background-color:rgb(178,219,251);

}
#lemail,#lpassword{
    font-size: 1.5vw;
}
#lemailinp,#lpasswordinp{
    
    width:40vw;
    height:7vh;
    border-radius:5px;
}
.lformfield{
    margin-top: 2vh;
}
#remembermediv{
    margin-top: 10px;
}

#lrememberme
{
    font-size: 1vw;
}

#loginbuttondiv{
   /* background-color: aqua; */
   /* align-items: center; */
   padding-left:13vw;
}
#loginbutton{
    margin-top: 5vh;
    height:7vh;
    width:10vw;
    background-color: black;
    color:white;
    border-radius: 5px;
}
#redirectr{
    padding-left:13vw;
   
}